/*======= Start Header  =======*/

header .navbar {
  padding: 10px 80px;
}
header .logo {
  width: 80px;
  height: 80px;
}
header .logo > img {
  width: 100%;
  height: 100%;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  margin-top: 0;
}
header .search .dropdown-menu {
  position: absolute;
  top: 0px;
  right: 50%;
  transform: translateX(50%);
  height: 100%;
  width: 50%;
  background: red;
  padding: 10px;
  left: auto;
  background: var(--blue-bg);
  z-index: 100;
}
header .search .dropdown-menu li {
  height: 100%;
  position: relative;
}
header .search .dropdown-menu input {
  width: 100%;
  height: 100%;
  background: var(--blue-bg);
  color: white;
  outline: none;
  border: 0px;
  font-size: 20px;
  padding-right: 40px;
}
header .search .dropdown-menu input::placeholder {
  color: #ccc;
  font-size: 17px;
}
header .search .dropdown-menu li i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  z-index: 100;
  cursor: pointer;
}
header .header_contant .header_contant--info {
  display: flex;
}
header .header_contant div a {
  color: var(--orange);
  display: block;
  transition: 0.3s ease;
}

header .header_contant div a:hover {
  color: var(--orange-black);
}
header .header_contant div .nav-link:focus {
  color: var(--orange) !important;
}
.nav-link::after {
  display: none !important;
}
header .header_contant .navbar-nav {
  gap: 25px;
}
header .header_contant .active {
  color: var(--blue-bg) !important;
}

header .header_contant .nav-link {
  color: var(--orange) !important;
  font-weight: 500;
}

.enquire {
  color: white !important;
  background: #005c7c;
  border-radius: 20px;
  padding-right: 20px !important;
  padding-left: 20px !important;
  font-size: 14px;
}
