@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-color: #434343;
  --secondary-color: #ecd18e;
  --secondary-alt-color: #bfab7b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #434343;
  box-shadow: inset 1px 1px 5px #434343;
}
::-webkit-scrollbar-thumb {
  /* background-color: linear-gradient(#ecd18e, #434343, #ecd18e 50%); */
  background-color: #ecd18e;
  box-shadow: 0.65rem 0.65rem 2rem #ecd18e, 0.65rem 0.65rem 2rem #ecd18e,
    0.3px 3px 6px #ecd18e inset, -0.3px -2px 6px #ecd18e inset;
  border-radius: 8px;
}
